<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script th:src="@{/js/scripts.js}">
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <style>
        span{
            display: inline-block;
            width: 130px;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">진척 검수 관리</h5>
                <hr>
                <th:block>
                    <h6 class="card-title" style="font-weight: bold">1차 검수</h6>
                    <form class="piForm1" method="post">
                        <input type="hidden" name="ono" th:value="${ono}">
                        <input type="hidden" name="pino" th:value="${dto1.pino}">
                        <input type="hidden" name="pisequence" value=1>
                        <input type="hidden" name="picomplete" id="picomplete1" th:value="${dto1.picomplete}">
                        <input type="hidden" name="email" id="email1" th:value="${dto1.login.email}">
                        <div class="input-group mb-3">
                            <span class="input-group-text">검수 담당자</span>
                            <input type="text" class="form-control" id="inspecter1" th:value="${dto1.login.name}" readonly>
                            <button type="button" class="btn btn-secondary viewInspecter1">담당자 변경</button>
                        </div>
                        <div class="input-group mb-3">
                           <span class="input-group-text">검수 일자</span>
                            <input th:if="${dto1.pidate!=null}" type="text" class="form-control" name="pidate" th:value="${dto1.pidate}">
                            <input th:if="${dto1.pidate==null}" type="date" class="form-control" name="pidate">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">진척도</span>
                            <input type="text" class="form-control" name="piprogress" th:value="${dto1.piprogress}">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">검수 결과 내용</span>
                            <textarea class="form-control col-sm-5" rows="5" name="pidetail">[[${dto1.pidetail}]]</textarea>
                        </div>
                        <div style="text-align: right">
                            <button type="button" class="btn btn-secondary firstSubmitBtn1" onclick="firstSubmitBtn1()">1차 검수 등록</button>
                            <button th:if="${dto1!=null && dto1.picomplete==0}" type="button" class="btn btn-primary firstSubmitBtn2" onclick="firstSubmitBtn2()">1차 검수 마감</button>
                            <button th:if="${dto1.picomplete==1}" type="button" class="btn btn-secondary">1차 검수 완료됨</button>
                        </div>
                    </form>
                </th:block>
                <hr>
                <th:block>
                    <h6 class="card-title" style="font-weight: bold">2차 검수</h6>
                    <form class="piForm2" method="post">
                        <input type="hidden" name="ono" th:value="${ono}">
                        <input type="hidden" name="pino" th:value="${dto2.pino}">
                        <input type="hidden" name="pisequence" value=2>
                        <input type="hidden" name="picomplete" id="picomplete2" th:value="${dto2.picomplete}">
                        <input type="hidden" name="email" id="email2" th:value="${dto2.login.email}">
                        <div class="input-group mb-3">
                            <span class="input-group-text">검수 담당자</span>
                            <input type="text" class="form-control" id="inspecter2" th:value="${dto2.login.name}" readonly>
                            <button type="button" class="btn btn-secondary viewInspecter2">담당자 변경</button>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">검수 일자</span>
                            <input th:if="${dto2.pidate!=null}" type="text" class="form-control" name="pidate" th:value="${dto2.pidate}">
                            <input th:if="${dto2.pidate==null}" type="date" class="form-control" name="pidate">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">진척도</span>
                            <input type="text" class="form-control" name="piprogress" th:value="${dto2.piprogress}">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">검수 결과 내용</span>
                            <textarea class="form-control col-sm-5" rows="5" name="pidetail">[[${dto2.pidetail}]]</textarea>
                        </div>
                        <div style="text-align: right">
                            <button type="button" class="btn btn-secondary secondSubmitBtn1" onclick="secondSubmitBtn1()">2차 검수 등록</button>
                            <button th:if="${dto2!=null && dto2.picomplete==0}" type="button" class="btn btn-primary secondSubmitBtn2" onclick="secondSubmitBtn2()">2차 검수 마감</button>
                            <button th:if="${dto2.picomplete==1}" type="button" class="btn btn-secondary">2차 검수 완료됨</button>
                        </div>
                    </form>
                </th:block>
                <hr>
                <div style="text-align: right">
                    <button th:if="${dto1.picomplete==1 && dto2.picomplete==1}" type="button" class="btn btn-danger finalSubmitBtn" onclick="finalSubmitBtn()">진척 검수 마감</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--사원 정보 모달-->
<div class="modal inspecterModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">사원 목록</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">이름</th>
                    <th scope="col">이메일</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="memDTO:${memDTO}">
                    <td >[[${memDTO.name}]]</td>
                    <td>[[${memDTO.email}]]</td>
                    <td><button class="btn btn-secondary"
                                th:name="${memDTO.name}"
                                th:email="${memDTO.email}"
                                onclick="nameFromModal(this.getAttribute('name'), this.getAttribute('email'), temp)">선택</button></td>
                </tr>
                </tbody>
            </table>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark closeInspecterBtn">닫기</button>
            </div>
        </div>
    </div>
</div>
</body>


<script th:inline="javascript">

    const inspecterModal = new bootstrap.Modal(document.querySelector(".inspecterModal"))
    var temp=0


    document.querySelector(".viewInspecter1").addEventListener("click",function (e){
        temp=1
        inspecterModal.show()
    }, false)

    document.querySelector(".viewInspecter2").addEventListener("click",function (e){
        temp=2
        inspecterModal.show()
    }, false)

    document.querySelector(".closeInspecterBtn").addEventListener("click", function (e){
        inspecterModal.hide()
    }, false)


    function firstSubmitBtn1() {
        if(!confirm("1차 검수를 등록하겠습니까?")){
            return
        }
        document.querySelector(".piForm1").submit()
        opener.document.getElementById("ostate").value="진척검수"
        opener.document.querySelector(".osFromPi").submit()
    }

    function firstSubmitBtn2() {
        if(!confirm("1차 검수를 완료 처리하겠습니까?")){
            return
        }
        document.getElementById("picomplete1").value=1
        document.querySelector(".piForm1").submit()
    }

    function secondSubmitBtn1() {
        if(!confirm("2차 검수를 등록하겠습니까?")){
            return
        }
        document.querySelector(".piForm2").submit()
        opener.document.getElementById("ostate").value="진척검수"
        opener.document.querySelector(".osFromPi").submit()
    }

    function secondSubmitBtn2() {
        if(!confirm("2차 검수를 완료 처리하겠습니까?")){
            return
        }
        document.getElementById("picomplete2").value=1
        document.querySelector(".piForm2").submit()
    }

    function finalSubmitBtn() {
        if(!confirm("진척 검수를 완료 처리하겠습니까?")){
            return
        }
        opener.document.getElementById("ostate").value="검수완료"
        opener.document.querySelector(".osFromPi").submit()
        self.close()
    }


    function nameFromModal(name, email, temp) {
        if(temp==1){
            document.getElementById("inspecter1").value=name
            document.getElementById("email1").value=email
        }
        else if(temp==2){
            document.getElementById("inspecter2").value=name
            document.getElementById("email2").value=email
        }
        inspecterModal.hide()
    }








</script>
</html>