<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">

    <div class="row-mt-3">
        <div class="col">
            <br>
            <div class="card">
                <div class="card-header">
                    <h5><b>입고내역(거래명세서발행)</b></h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>품목코드</th>
                            <th>품목이름</th>
                            <th>품목분류1</th>
                            <th>품목분류2</th>
                            <th>입고수량</th>
                            <th>입고일자</th>
                            <th>공급단가</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th></th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                        </tr>
                        </tbody>
                    </table>
                    <div class="float-end">
                        <button type="button" class="btn btn-dark">거래명세서발행</button>
                    </div>
                </div> <!--카드바디끝-->
            </div> <!--카드끝-->
            <br>
            <div class="card">

                <div class="card-header">
                    <h5><b>출고내역</b></h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>품목코드</th>
                            <th>품목이름</th>
                            <th>품목분류1</th>
                            <th>품목분류2</th>
                            <th>출고수량</th>
                            <th>출고일자</th>
                            <th>공급단가</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th></th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                        </tr>
                        </tbody>
                    </table>
                    <div class="float-end">

                    </div>
                </div>      <!-- * card-body끝 *-->
            </div>      <!-- * card 끝 *-->
        </div>      <!-- * col 끝 * -->
    </div>

</div>
<script layout:fragment="script" th:inline="javascript">

</script>
<body>

</body>
</html>