<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<div layout:fragment="content">

    <div class="row-mt-3">
        <div class="col">
            <br>
            <div class="card">

                <div class="card-header">
                    <h5><b>발주목록</b></h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>선택</th>
                            <th>품목코드</th>
                            <th>품목이름</th>
                            <th>품목분류1</th>
                            <th>품목분류2</th>
                            <th>입고수량</th>
                            <th>품목금액</th>
                            <th>발주일자</th>
                            <th>발주상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="olist,status:${oList}">
                            <th><input type="radio" name="orderCheck" th:value="${status.index}"></th>
                            <th>[[${olist.contract.product.pcode}]]</th>
                            <th>[[${olist.contract.product.pname}]]</th>
                            <th>[[${olist.contract.product.middle.mname}]]</th>
                            <th>[[${olist.contract.product.middle.top.tname}]]</th>
                            <th>[[${olist.ocount}]]</th>
                            <th>[[${olist.contract.cprice}]]</th>
                            <th>[[${olist.odate}]]</th>
                            <th>[[${olist.ostate}]]</th>
                        </tr>
                        </tbody>
                    </table>
                    <div class="float-end">
                        <button id=stockIn class="btn btn-dark">자재입고</button>
                    </div>
                </div>      <!-- * card-body끝 *-->
            </div>      <!-- * card 끝 *-->
        </div>      <!-- * col 끝 * -->
    </div>


</div>
<script layout:fragment="script" th:inline="javascript">

    $("#stockIn").click(function(){
        if($('input:radio[name=orderCheck]').is(":checked")){
            var index = $('input[name=orderCheck]:checked').val();
            location.href = '/stock/stockIn?index='+index;
        }
    })
</script>
<body>

</body>
</html>