<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">

    <div class="row-mt-3">
        <div class="col">
            <br>
            <form action="/stock/outList" method="get">
                <div class="col">
                    <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                    <input type="hidden" name="sort" th:value="${pageRequestDTO.sort}">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <select class="form-select" name="type">
                                <option value="tcd" th:selected="${pageRequestDTO.type=='tcd'}">검색</option>
                                <option value="t" th:selected="${pageRequestDTO.type=='t'}">제품코드</option>
                                <option value="c" th:selected="${pageRequestDTO.type=='c'}">제품이름</option>
                                <option value="d" th:selected="${pageRequestDTO.type=='d'}">출고일자</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary searchBtn" type="submit">검색</button>
                            <button class="btn btn-outline-secondary clearBtn" type="button">초기화</button>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="card">

                <div class="card-header">
                    <h5><b>출고내역</b></h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>품목코드</th>
                            <th>품목이름</th>
                            <th>품목분류1</th>
                            <th>품목분류2</th>
                            <th>출고수량</th>
                            <th>공급단가</th>
                            <th>출고일자</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="outlist,status:${outList.dtoList}">
                            <th>[[${status.index+1}]]</th>
                            <th>[[${outlist.stock.product.pcode}]]</th>
                            <th>[[${outlist.stock.product.pname}]]</th>
                            <th>[[${outlist.stock.product.middle.top.tname}]]</th>
                            <th>[[${outlist.stock.product.middle.mname}]]</th>
                            <th>[[${outlist.socount}]]</th>
                            <th>[[${outlist.stock.contract.cprice}]]</th>
                            <th>[[${outlist.sodate}]]</th>
                        </tr>
                        </tbody>
                    </table>
                    <div class="float-end">
                        <ul class="pagination flex-wrap">
                            <li class="page-item" th:if="${outList.prev}">
                                <a class="page-link" th:data-num="${outList.start -1}">Previous</a>
                            </li>

                            <th:block th:each="i:${#numbers.sequence(outList.start, outList.end)}">
                                <li th:class="${outList.page == i}?'page-item active':'page-item'">
                                    <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                </li>
                            </th:block>

                            <li class="page-item" th:if="${outList.next}">
                                <a class="page-link" th:data-num="${outList.end +1}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>      <!-- * card-body끝 *-->
            </div>      <!-- * card 끝 *-->
        </div>      <!-- * col 끝 * -->
    </div>

</div>
<script layout:fragment="script" th:inline="javascript">
    document.querySelector(".pagination").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()
        const target =e.target
        if(target.tagName !== 'A'){
            return
        }
        const num=target.getAttribute("data-num")
        const formObj=document.querySelector("form")
        formObj.innerHTML+=`<input type='hidden' name='page' value='${num}'>`
        formObj.submit();
    }, false)

    document.querySelector(".clearBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        self.location = '/stock/outList'
    },false)

</script>
<body>

</body>
</html>