<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>조달-품목관리</title>
</head>
<div layout:fragment="content">
    <div class="row-mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>품목 [수정]</h5>
                </div>
                <div class="card-body">
                    <form th:action="@{/support/productModify.html}" method="post" id="f1">
                        <div class="input-group mb-3">
                            <span class="input-group-text">품목순번</span>
                            <input type="text" class="form-control" th:value="${dto.pno}" name="pno" readonly style="background-color: silver">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">품목코드</span>
                            <input type="text" class="form-control" th:value="${dto.pcode}" name="pcode" readonly style="background-color: silver">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">품목이름</span>
                            <input type="text" class="form-control" th:value="${dto.pname}" name="pname">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width: 10%">품목분류1(대분류)</span>
                            <input type="text" class="form-control" th:value="${dto.topDTO.tname}" name="pname" readonly style="background-color: silver">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">품목분류2(중분류)</span>
                            <input type="text" class="form-control" th:value="${dto.middleDTO.mname}" name="pname" readonly style="background-color: silver">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">품목설명</span>
                            <textarea class="form-control col-sm-5" rows="5" name="pcontent">[[${dto.pcontent}]]</textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">품목비고</span>
                            <textarea class="form-control col-sm-5" rows="3" name="pnote">[[${dto.pnote}]]</textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">품목등록날짜</span>
                            <input type="text" class="form-control" th:value="${#temporals.format(dto.pdate, 'yyyy-MM-dd HH:mm:ss')}" readonly style="background-color: silver">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">품목수정날짜</span>
                            <input type="text" class="form-control" th:value="${#temporals.format(dto.pmoddate, 'yyyy-MM-dd HH:mm:ss')}" readonly style="background-color: silver">
                        </div>

                        <div class="my-4">
                            <div class="float-end">
                                <button type="button" class="btn btn-primary listBtn">품목전체보기</button>
                                <button type="button" class="btn btn-secondary modBtn">품목수정완료</button>
                                <button type="button" class="btn btn-danger removeBtn">품목삭제</button>
                            </div>
                        </div>
                    </form>
                </div>      <!-- * card-body끝 *-->
            </div>      <!-- * card 끝 *-->
        </div>      <!-- * col 끝 * -->
    </div>
</div>
<script layout:fragment="script" th:inline="javascript">
    const link = [[${productPageRequestDTO.getLink()}]]
    const formObj = document.querySelector("#f1")

    document.querySelector(".listBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/support/productList`
        formObj.method = `get`
        formObj.submit()
    }, false)

    document.querySelector(".modBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/support/productModify?${link}`
        formObj.method = `post`
        formObj.submit()
    }, false)

    document.querySelector(".removeBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/support/productRemove`
        formObj.method = 'post'
        formObj.submit()
    }, false)



</script>
<body>

</body>
</html>