<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>품목 등록</title>
</head>
<div layout:fragment="content">
    <div class="row-mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>품목 [등록]</h5>
                </div>
                <div class="card-body">
                    <h2>품목정보를 입력해주세요</h2>
                    <form action="/support/productRegister" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">품목분류2</span>
                            <input type="text" name="mcode" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">품목코드</span>
                            <input type="text" name="pcode" class="form-control" placeholder="품목코드를 입력해주세요">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">품목이름</span>
                            <input type="text" name="pname" class="form-control" placeholder="품목이름을 입력해주세요">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">품목설명</span>
                            <textarea class="form-control col-sm-5" rows="5" name="pcontent"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">비고</span>
                            <textarea class="form-control col-sm-5" rows="5" name="pnote"></textarea>
                        </div>

                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary">품목등록완료</button>
                                <button type="reset" class="btn btn-secondary">리셋</button>
                            </div>
                        </div>
                    </form>
                </div>      <!-- * card-body끝 *-->
            </div>      <!-- * card 끝 *-->
        </div>      <!-- * col 끝 * -->
    </div>

</div>
<script layout:fragment="script" th:inline="javascript">

</script>
<body>

</body>
</html>