<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">

  <div class="row-mt-3">
    <div class="col">
      <div class="card">

        <div class="card-header">
          <h5>파일업로드 테스트</h5>
        </div>
        <div class="card-body">
          <h3>단일 파일 업로드</h3>
          <form action="/upload" method="post">
            <input name="uploadFiles" type="file" multiple/>
            <button type="submit">업로드</button>
          </form>
          <h2></h2>
        </div>      <!-- * card-body끝 *-->
        </div>
      </div>      <!-- * card 끝 *-->
    </div>      <!-- * col 끝 * -->
  </div>

<script layout:fragment="script" th:inline="javascript">


</script>
<body>

</body>
</html>