<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">

    <div class="row-mt-3">
        <div class="col">
            <div class="card"  style="width: 550px; height: 500px">

                <div class="card-header">
                    <h5>메인템플랫</h5>
                </div>
                <div class="card-body" >
                    <canvas id="myChart" width="500" height="400"></canvas>
                    </div>
                </div>      <!-- * card-body끝 *-->
            </div>      <!-- * card 끝 *-->
        </div>      <!-- * col 끝 * -->
    </div>

</div>

<body>
<script layout:fragment="script" type="text/javascript">
    // 차트를 그럴 영역을 dom요소로 가져온다.
    var chartArea = document.getElementById('myChart').getContext('2d');
    // 차트를 생성한다.
    var myChart = new Chart(chartArea, {
        // ①차트의 종류(String)
        type: 'line',
        // ②차트의 데이터(Object)
        data: {
            // ③x축에 들어갈 이름들(Array)
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            // ④실제 차트에 표시할 데이터들(Array), dataset객체들을 담고 있다.
            datasets: [{
                // ⑤dataset의 이름(String)
                label: '# of Votes',
                // ⑥dataset값(Array)
                data: [15, 19, 3, 5, 2, 3],
                // ⑦dataset의 배경색(rgba값을 String으로 표현)
                backgroundColor: 'rgb(133,231,192)',
                // ⑧dataset의 선 색(rgba값을 String으로 표현)
                borderColor: 'rgba(133, 231, 191)',
                // ⑨dataset의 선 두께(Number)
                borderWidth: 3
            }]
        },
        // ⑩차트의 설정(Object)
        options: {
            responsive: false,
            // ⑪축에 관한 설정(Object)
            scales: {
                // ⑫y축에 대한 설정(Object)
                y: {
                    // ⑬시작을 0부터 하게끔 설정(최소값이 0보다 크더라도)(boolean)
                    beginAtZero: true
                }
            }
        }
    });
</script>
</body>
</html>