<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <style>
        body {
            background-image: url('https://images.unsplash.com/flagged/photo-1554443883-83db889b4007?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80');
            background-repeat: no-repeat;
            background-size: 1920px 1080px;
        }
    </style>
</head>
<body style="text-align: center">
<div class="justify-content-center" id="wrapper">
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->

        <!-- Page content-->
        <div class="container-fluid" style="text-align: center; margin-top: 200px;">
            <img src="/img/integer_login.png" style="margin-bottom: 100px;"><br>

            <button id="login" class="btn btn-light"
                    style="width: 160px; height: 90px; font-size: x-large; color: #47a1d1; margin-right:50px; ">로그인
            </button>
            <button id="guide" class="btn btn-light"
                    style="width: 160px; height: 90px; font-size: x-large; color: #47a1d1">가이드영상
            </button>
        </div>
    </div>
</div>
<script>
    $("#login").click(function () {
        location.href = '/login';
    });
    $("#guide").click(function () {
        location.href = '#';
    });
</script>
</body>
</html>
