<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>로그인 페이지</title>
<!-- Favicon   -->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>
<!-- Core theme CSS (includes Bootstrap)   -->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body class="align-middle">
<div class="container-fluid d-flex justify-content-center" style="height:100vh">


    <div class="card align-self-center">
        <div class="card-header">
            로그인 페이지
        </div>
        <div class="card-body">
            <th:block th:if="${param.logout != null}">
                <h1>로그아웃</h1>
            </th:block>
            <form id="registerForm" action="/login" method="post" th:if="${param.logout == null}">
                <div class="input-group mb-3">
                    <span class="input-group-text">아이디</span>
                    <input type="text" name="username" class="form-control" placeholder="아이디">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">비밀번호</span>
                    <input type="password" name="password" class="form-control" placeholder="비밀번호">
                </div>
                <div th:if="error">
                    <p id="vaild" style="color: red; font-size: 12px;"><a th:text="${exception}"></a> </p>
                </div>
                <div class="my-4">
                    <div class="float-end">
                        <button type="submit" class="btn btn-dark">로그인</button>
                    </div>
                </div>
            </form>
        </div><!-- end card body-->
    </div><!--end card-->
</div>
</body>
<script layout:fragment="script" th:inline="javascript">

    // $("#login").click(function () {
    //     if ($("#email").val() == "" || $("#pw").val() == "") {
    //         alert("아이디 혹은 비밀번호가 비어있습니다.");
    //         return false;
    //     }
    //     $("#info").submit();
    // });


</script>
</html>