<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">

    <div class="row-mt-3">
        <div class="col">
            <div class="card"  style="width: 30%; margin: auto">

                <div class="card-header">
                    <h5>로그인</h5>
                </div>
                <form action="/login" method="post" id="info">
                <div class="card-body">
                    아이디:<input type="text" name="email" id="email"><br>
                    비밀번호:<input type="password" name="pw" id="pw">
                    <button type="submit" id="login">로그인</button>
                </div>      <!-- * card-body끝 *-->
                </form>
            </div>      <!-- * card 끝 *-->
        </div>      <!-- * col 끝 * -->
    </div>

</div>
<script layout:fragment="script" th:inline="javascript">


</script>
<body>

</body>
</html>