<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">

    <div class="row-mt-3">
        <div class="col">
            <div class="card"  style="width: 30%; margin: auto">

                <div class="card-header">
                    <h5>로그인</h5>
                </div>
                <form action="/login" method="post" id="info">
                <div class="card-body">
                    아이디:<input type="text" class="form-control" name="email" id="email" placeholder="이메일"><br>
                    비밀번호:<input type="password" class="form-control" name="pw" id="pw" placeholder="비밀번호">
                    <div style="color: red" th:text="${error}"></div>
                    <div class="my-1">
                        <div class="float-end my-3">
                            <button type="submit" class="btn btn-dark" id="login">로그인</button>
                        </div>
                    </div>
                </div>      <!-- * card-body끝 *-->
                </form>
            </div>      <!-- * card 끝 *-->
        </div>      <!-- * col 끝 * -->
    </div>

</div>
<script layout:fragment="script" th:inline="javascript">
    $("#login").click(function () {
        if ($("#email").val() == "" || $("#pw").val() == "") {
            alert("아이디 혹은 비밀번호가 비어있습니다.");
            return false;
        }
        $("#info").submit();
    });


</script>
<body>

</body>
</html>