<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">

    <div class="row-mt-3" th:with="dto = ${dto}, link = ${pageRequestDTO.getLink()}">
        <div class="col" th:with="link = ${pageRequestDTO.getLink()}">
            <form method="post" id="register" action="/supportplan/register">
                <input type="hidden" id="link" name="link" th:value="${link}">
                <input type="hidden" id="spno" name="spno" th:value="${dto.spno}">
                <div class="card" style="margin-bottom: 5%">
                    <div class="card-header">
                        <h5>조달계획 등록하기</h5>
                    </div>
                    <div class="card-body">
                        <div class="col">
                            <span>품목코드</span>
                            <input type="text" id="pcode" name="pcode" th:value="${dto.productDTO.pcode}" class="form-control" readonly>
                        </div>
                        <div class="col">
                            <span>품목이름</span>
                            <input type="text" id="pname" name="tname" th:value="${dto.productDTO.pname}" class="form-control" readonly>
                        </div>
                        <div class="col">
                            <span>대분류</span>
                            <input type="text" id="tname" name="tname" th:value="${dto.middleDTO.topDTO.tname}" class="form-control" readonly>
                        </div>
                        <div class="col">
                            <span>소요일정</span>
                            <input type="text" id="spdate" name="spdate" th:value="${dto.spdate}" class="form-control" readonly>
                        </div>
                        <div class="col">
                            <span>소요량</span>
                            <input type="text" id="spcount" name="spcount" th:value="${dto.spcount}" class="form-control" readonly>
                        </div>
                        <div class="col">
                            <span>조달납기</span>
                            <input type="text" id="spdelidate" name="spdelidate" th:value="${dto.spdelidate}" class="form-control" readonly>
                        </div>
                        <div class="float-end">
                            <input class="btn btn-dark" type="button" value="수정" onclick="modify()">
                            <input class="btn btn-dark" type="button" value="목록" onclick="back()">
                        </div>
                    </div>
                </div>
            </form>
        </div>      <!-- * col 끝 * -->
    </div>

</div>
<script layout:fragment="script" th:inline="javascript">

    var link = $("#link").val();

    var spno = $("#spno").val();
    function modify(){
        location.href = '/supportplan/modify?spno='+spno+'&'+link;
    }

    function back(){
        location.href = '/supportplan/list?'+link;
    }
</script>
<body>

</body>
</html>